body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#hud {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#top-hud, #middle-hud {
    display: flex;
    gap: 10px;
}

.hud-element {
    position: relative;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#speed {
    width: auto;
    padding: 0 10px;
    border: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.2em;
    border-radius: 8px;
}

#speed span {
    font-weight: bold;
}

.hud-icon {
    z-index: 1; /* Ensure the icon is above the fill */
    color: white;
}

.hud-fill {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: height 0.5s;
}

#health .hud-fill {
    background-color: #4CAF50;
}

#armor .hud-fill {
    background-color: #929292;
}

#food .hud-fill {
    background-color: #FFC107;
}

#water .hud-fill {
    background-color: #2196F3;
}

#fuel .hud-fill {
    background-color: #FF9800;
}

.hud-fill.zero {
    background-color: rgba(0, 0, 0, 0.5);
}

#seatbelt.green .hud-icon {
    color: #4CAF50;
}

#seatbelt.red .hud-icon {
    color: #FF0000;
}

.hidden {
    display: none;
}

#top-hud {
    display: none;
}

#seatbelt, #fuel {
    transform: scale(0.8); /* Adjust the scale factor as needed */
}
